{% extends 'layouts/navthem.html' %}


{% block content%}

<div class="login-reg-body imag-fondo">

  <div class="d-flex justify-content-center py-5">
    <div class="box">
      <div class="form">
        <div class="d-flex justify-content-center">
        <h2>Ingresar</h2>
         </div>
        <div class="inputBox">
          <FORM method="post">
            {% csrf_token %}
            {{ form.as_p}}
          <div class="d-flex justify-content-center py-1">
            <div class="px-1">
            <button type="submit" class="btn colorboton">Log In</button>
            </div>
          </div>
          <div class="d-flex justify-content-end py-4">
            <div class="px-1">
              <a href="{% url 'register' %} ">
              <button type="button" class="btn colorboton">Registrarse</button></a>
              </div>
          </div>
          </FORM>
        </div>
      </div>

    </div>
  </div>

</div>
{%endblock%}